<%- include("includes/header.ejs") %>
    <link rel="stylesheet" href="/style.css">
    <title>Search stock</title>
</head>
<body>
    <%- include("includes/navbar.ejs", { page: "sinfo" }) %>
    <div class="simple-card">
        <h1>Here you can find any stock I have!</h1>
        <form method="GET" action="/stock">
            <input type="text" name="name" placeholder="Enter name...">
            <br>
            <button type="submit">Find</button>
        </form>
    </div>

<%- include("includes/end.ejs") %>
